{
  "copied": "Copia eseguita",
  "copy": "Copia",
  "enrollConfirmFooterDescription": "Proteggi i tuoi acquisti con la carta virtuale in modo che gli esercenti non visualizzino il numero di carta.",
  "enrollConfirmTitle": "Registrare la carta virtuale in soli 2 passaggi.",
  "enrollLearnMore": "Altre informazioni sulla carta virtuale",
  "enrollNow": "Iscriviti ora",
  "expirationDate": "Data di scadenza",
  "fillingVirtualCard": "È in corso il riempimento delle informazioni della tua carta virtuale...",
  "fillingVirtualCardDescription": "Ci stiamo connettendo con la tua banca per generare i dettagli della carta per questa transazione. L'operazione potrebbe richiedere alcuni secondi.",
  "fillingVirtualCardFailed": "Si è verificato un errore",
  "fillingVirtualCardFailedDescription": "L'emittente della carta non è al momento in grado di generare i dettagli della carta virtuale. Prova nuovamente a riempire automaticamente i dettagli della carta o a disabilitare la carta virtuale.",
  "gotIt": "Ok",
  "hide": "Nascondi",
  "maybeLater": "Forse più tardi",
  "pageTitle": "Portafoglio carta tokenizz